/*Mulish Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
/* Mulish Light 300*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
/*Mulish Light 200*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;700&display=swap');
/* Rubik Medium 500 */
 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');



/*** NAVBAR ***/
 #navbar-inicio{
    Position:sticky;
    Top:1px;
    
}

/* SCROLL 1 */
.h1-scroll-1{
    font-family: 'Rubik';
    
}
.buttons-scroll-1 {
    font-family: 'Mulish';
   
    font-size: 12px;
    background: rgb(2, 10, 56); /* color de fondo */
    color:white; /* color de fuente */
    border: 2px solid white; /* tamaño y color de borde */
    padding: 10px 14px;
    border-radius: 2px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block
  }
.buttons-scroll-1:hover {
    font-family: "Mulish";
    font-weight: bold;
    color:rgb(2, 10, 56);/* color de fuente hover */
  }
.buttons-scroll-1:after {
    content: "";
    background: white; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .buttons-scroll-1:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  }




    /* SCROLL 2 */

    .h2-scroll-2{
      font-family: "Rubik";
     }

    .h3-scroll-2{
      color: rgb(2, 10, 56);
      font-family: "Rubik";
    }

    .cards{
      display: flex;
      justify-content: space-around;
      
  }

    .card{
      border: 1px solid rgb(4, 20, 108);
    }

    .marcas-scroll-2{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        
    }

    .buttons-medios {
        font-family: 'Rubik';
        background: rgb(2, 10, 56); /* color de fondo */
        color:white; /* color de fuente */
        border: 2px solid rgb(245, 247, 255); /* tamaño y color de borde */
        padding: 11px 80px;
        border-radius: 0px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block
      }
    .buttons-medios:hover {
        
        color: rgb(2, 10, 56)
      }
    .buttons-medios:after {
        
        content: "";
        background: rgb(255, 255, 255); /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(0, 0);
        transition: all 0.3s ease;
      }
      .buttons-medios:hover::after {
        transition: all 0.3s ease-out;
        transform: scale(1, 1);
      }
    /* SCROLL 3 */
    
    .h3-scroll-3{
      color: rgb(2, 10, 56);
      font-family: "Rubik";
    }

    .h1-scroll-3{
      color: rgb(4, 20, 108);
      font-family: "Rubik";

    }

    .caja-centro-educativo{
      border: 3px solid rgb(4, 20, 108);
    }

    .h2-scroll-3{
      color: rgb(2, 10, 56);
    }

    .li-scroll-3{
      color: rgb(2, 10, 56);
    }

    /* SCROLL 4 */

    .h2-scroll-4 {
        color: rgb(2, 10, 56);
        font-family: "Rubik";
    }

    

    
   
    

    /* RESPONSIVE */

